<%= turbo_frame_tag next_action, class: "next-action" do %>
  <p>
    <% if next_action.done %>
      <s><%= next_action.body %></s>
    <% else %>
      <%= next_action.body %> 
    <% end %>

    --

    <% if next_action.project.present? %>
      <%= next_action.project.name %>
    <% end %>

    <% if next_action.context.present? && !current_page?(next_actions_path) %>
      @<%= next_action.context %>
    <% end %>
  </p>

  <div class="next-action-actions">
    <% if next_action.done %>
      <%= button_to "Not done", next_action_path(next_action), params: { next_action: { done: false } }, method: :patch %>
    <% else %>
      <%= button_to "Done", next_action_path(next_action), params: { next_action: { done: true } }, method: :patch %>
    <% end %>

    <% unless current_page?(next_action_path(next_action)) %>
      <%= link_to "Show", next_action_path(next_action), target: "_top" %>
    <% end %>

    <%= link_to "Edit", edit_next_action_path(next_action), target: "_top" %>
  </div>
<% end %>