<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :area, style: "display: block" %>
    <%= form.text_field :area, list: "areas", autocomplete: "off" %>

    <datalist id="areas">
      <% @projects.map(&:area).uniq.compact.each do |area| %>
        <option value="<%= area %>"></option>
      <% end %>
    </datalist>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.textarea :body %>
  </div>

  <div>
    <%= form.label :waiting_for, style: "display: block" %>
    <%= form.text_field :waiting_for %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
