<ul>
  <%= render @projects.active.without_area %>

  <% @projects.active.grouped_by_area.each do |area, projects| %>
    <li>
      <details open>
        <summary><%= area %></summary>

        <ul>
          <%= render projects %>
        </ul>
      </details>
    </li>
  <% end %>

  <li class="new-project">
    <%= link_to "New Project", new_project_path %>
  </li>

  <% if @projects.inactive.any? %>
    <li>
      <details <%= "open" if @project&.inactive? %>>
        <summary>Inactive (<%= @projects.inactive.count %>)</summary>

        <ul>
          <%= render @projects.inactive.sort_by(&:area), with_area: true %>
        </ul>
      </details>
    </li>
  <% end %>
</ul>
