<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @project %>">
  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%== render_markdown(@project.body) %>
  </p>

  <p>
    <strong>Waiting for:</strong>
    <%= @project.waiting_for %>
  </p>

  <p>
    <strong>Next actions:</strong>

    <ul>
      <% @project.next_actions.each do |next_action| %>
        <li>
          <%= render next_action %>
        </li>
      <% end %>
    </ul>
  </p>
</div>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
