<%= form_with(model: inbox_item) do |form| %>
  <% if inbox_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inbox_item.errors.count, "error") %> prohibited this inbox_item from being saved:</h2>

      <ul>
        <% inbox_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.textarea :body, autofocus: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <script>
    document.addEventListener("keydown", function(e) {
      if (e.key === "Enter" && e.metaKey) {
        e.preventDefault();
        document.querySelector("input[type='submit']").click();
      }
    });
  </script>
<% end %>
