<p style="color: green"><%= notice %></p>

<%= render @inbox_item %>

<div>
  <%= link_to "Edit this inbox item", edit_inbox_item_path(@inbox_item) %> |
  <%= link_to "Back to inbox items", inbox_items_path %>

  <%= button_to "Destroy this inbox item", @inbox_item, method: :delete %>
</div>
